body {
  background-image: url(/images/code.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

li {
  color: blue;
  list-style: inside;
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  padding: 1px 15px;
  border-radius: 50px;
  background-color: black;
  color: white;
  font-family: 'Lavishly Yours', cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
}
h2 {
  border-radius: 50px;
  padding: 1px 5px;
  background-color: black;
  width: fit-content;
  color: #f103a2;
}
p {
  padding: 5px;
  background-color: hsla(0, 100%, 1%, 0.571);
  width: 50vw;
  color: #ff1493;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.name {
  margin-top: 77px;
  transform: rotate(0.1turn);
}
.connect-li {
  list-style: none;
}
#connect {
  border-radius: 5px;
  font-style: italic;
}
svg {
  width: 32px;
}
.socialMedia {
  border-radius: 50%;
  background-color: white;
  padding: 10px;
  margin-bottom: 9px;
}
.linkedIn:hover {
  background-color: blue;
}
.github:hover {
  background-color: orange;
}
