* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  min-width: 360px;
  margin: 0;
  padding: 0;
  background-image: url(/images/code.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
#links-container {
  display: flex;
  background-color: #4ccef4;
  justify-content: space-evenly;
  flex-direction: column;
}
.links:hover {
  background-color: #454569;
  color:#4ccef4;
  font-size: 25px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #454569;
  width: 100vw;
  text-decoration: none;
  height: 30px;
  border-bottom: solid black 1px;
}
.experience-header{
  margin: 0px;
}
h1 {
  margin: 20px auto;
  width: fit-content;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  font-family: "Lavishly Yours", cursive;
  font-weight: 500;
  font-style: normal;
  color: white;
  text-align: center;
}
h2{
  text-decoration: double;

}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sections {
  color: white;
  text-align: center;
  margin: 20px;
  display: flex;
  justify-content: center;
  /* background-color: skyblue; */
  flex-direction: column;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
  /* padding:5px */
}
svg {
  border-radius: 50px;
  padding: 3px;
  margin: 5px;
  background-color: white;
  height: 50px;
}
svg:hover{
  background-color:#57f6fc;
}
footer{
  color: white;
  text-align: center;
  margin-bottom: 15px;
}